
<!------ Include the above in your HEAD tag ---------->

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Kullanıcı Adı</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Kullanıcı adı giriniz">

    </div>
   
    <div class="form-group">
        <label for="exampleInputPassword1">Şifre</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifre belirleyiniz">
      <br />
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifrenizi tekrar giriniz">
    </div>

    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
</form>