@model Profil

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-3" style="background-color:#303030;padding:10px;">
            <div class="text-center">
                <h2><font color="white">Kullanıcı Bilgileri</font></h2>
            </div>
            <br />
            <p><font color="white">@localizer["E-Mail Adresi"]: @Model.Email</font></p>
            <p><font color="white">@localizer["Kullanıcı Adı"]: @Model.KullaniciAdi</font></p>
        </div>
    </div>
</div>