@model Haber

<div class="col-12 text-center">
    <h1><span style="color:white;">@Model.HaberBaslik</span></h1>
</div>
<br />
<div class="text-center">
    <img src="~/img/haber/@Model.HaberResim" alt="..." class="img-fluid" style="width:60%; height:60%; margin-bottom:1%">
    <p class="text-white">@Model.HaberIcerik</p>
</div>

