
@model Haber

<div class="container-fluid">
    <div class="col-12 d-flex align-items-center">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="text-center">
                    <img src="~/img/haber/@Model.HaberResim" alt="..." class="img-fluid">
                </div>
                <br />
                <div class="text-center">
                    <h2><font color="white">@Model.HaberBaslik</font></h2>
                </div>
                <br />
                <p><font color="white">@Model.HaberIcerik</font></p>
            </div>
        </div>
    </div>
</div>
