@model HaberListViewModel

<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-8">

            @foreach (var item in Model.haberler)
            {
                <div class="row">
                    <div class="col-12 d-flex align-items-center" style="border:solid;">
                        <div class="col-5">
                            <img src="~/img/haber/@item.HaberResim" alt="..." class="img-thumbnail">
                        </div>
                        <div class="col-7">
                            <a style="color:white;" href="/home/detail/@item.HaberID">@item.HaberBaslik</a>
                        </div>
                    </div>
                </div>
                <br />

            }
        </div>







        <div class="col-8">
            <div class="col-3" style="border:solid; border-color:white;">

                @foreach (var item in Model.haberler)
                {
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label text-white" for="inlineCheckbox1">@item.HaberBaslik</label>
                        </div>
                    </div>
                }
                <br /><br /><br />

                @foreach (var item in Model.haberler)
                {
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label text-white" for="inlineCheckbox1">@item.HaberBaslik</label>
                        </div>
                    </div>
                }
            </div>


        </div>
    </div>
  

</div>

