<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4" style="background-color: #303030; padding: 10px; ">
            <h2 class="text-center" style="color:white;">@localizer["Gizlilik Politikası"]</h2>
            <p class="text-center" style="color:white;">
                Bu site Kadir Çelik ve Duhan Uzun tarafından yapılmıştır.
            </p>
        </div>
    </div>
</div>