@model List<Yorum>

<div class="row">
    <h2><font style="color:white;">@localizer["Yorumlar"]</font></h2>
</div>

@foreach (var item in Model)
{

    <div class="row" style="margin-top:1%">
        <div style="padding:5px;">
            <p style="color:white;">@item.Oyun.OyunAdi</p>
        </div>
    </div>

    <div class="row border-bottom border-dark">
        <div>
            <p style="color:white;">@item.YapilanYorum</p>
            <a href="/Yorum/YorumuSil/@item.YorumID" class="btn btn-danger btn-circle text-uppercase"><span class="glyphicon glyphicon-send">@localizer["Yorumu Sil"]</span></a>
        </div>

    </div>

}

