@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-8 d-flex align-items-center" style="background-color:red;">

            <div class="col-5" style="background-color:gray;">
                <img src="" class="img-fluid" alt="Responsive image">
            </div>
            <div class="container">
                <div class="form-inline">
                    <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                    <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                </div>
                <div class="form-inline">
                    <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                    <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                </div>
            </div>

        </div>

        <div class="col-3" style="background-color:black;">
            <div class="dropdown-menu" style="background-color:aqua">
                <h6 class="dropdown-header">Dropdown header</h6>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
            </div>
        </div>

     </div>

    </div>
    <br />
    <div class="row justify-content-between">
        <div class="row justify-content-between">
            <div class="col-8 d-flex align-items-center" style="background-color:red;">

                <div class="col-5" style="background-color:gray;">
                    <img src="" class="img-fluid" alt="Responsive image">
                </div>
                <div class="container">
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                </div>

            </div>

            <div class="col-3" style="background-color:black;">
                <div class="dropdown-menu" style="background-color:aqua">
                    <h6 class="dropdown-header">Dropdown header</h6>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                </div>
            </div>
            </div>



        </div>


        <br />
        <div class="row justify-content-between">

            <div class="col-8 d-flex align-items-center" style="background-color:red;">

                <div class="col-5" style="background-color:gray;">
                    <img src="" class="img-fluid" alt="Responsive image">
                </div>
                <div class="container">
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                </div>

            </div>


        </div>
        <br />
        <div class="row justify-content-between">

            <div class="col-8 d-flex align-items-center" style="background-color:red;">

                <div class="col-5" style="background-color:gray;">
                    <img src="" class="img-fluid" alt="Responsive image">
                </div>
                <div class="container">
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                </div>

            </div>


        </div>
        <br />
        <div class="row justify-content-between">

            <div class="col-8 d-flex align-items-center" style="background-color:red;">

                <div class="col-5" style="background-color:gray;">
                    <img src="" class="img-fluid" alt="Responsive image">
                </div>
                <div class="container">
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                </div>

            </div>


        </div>
        <br />

        <div class="row justify-content-between">

            <div class="col-8 d-flex align-items-center" style="background-color:red;">

                <div class="col-5" style="background-color:gray;">
                    <img src="" class="img-fluid" alt="Responsive image">
                </div>
                <div class="container">
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                </div>

            </div>


        </div>
        <br />

        <div class="row justify-content-between">

            <div class="col-8 d-flex align-items-center" style="background-color:red;">

                <div class="col-5" style="background-color:gray;">
                    <img src="" class="img-fluid" alt="Responsive image">
                </div>
                <div class="container">
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                </div>

            </div>


        </div>
        <br />

        <div class="row justify-content-between">

            <div class="col-8 d-flex align-items-center" style="background-color:red;">

                <div class="col-5" style="background-color:gray;">
                    <img src="" class="img-fluid" alt="Responsive image">
                </div>
                <div class="container">
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                </div>

            </div>


        </div>
        <br />
        <div class="row justify-content-between">

            <div class="col-8 d-flex align-items-center" style="background-color:red;">

                <div class="col-5" style="background-color:gray;">
                    <img src="" class="img-fluid" alt="Responsive image">
                </div>
                <div class="container">
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                </div>

            </div>


        </div>
        <br />
        <div class="row justify-content-between">

            <div class="col-8 d-flex align-items-center" style="background-color:red;">

                <div class="col-5" style="background-color:gray;">
                    <img src="" class="img-fluid" alt="Responsive image">
                </div>
                <div class="container">
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                    <div class="form-inline">
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                </div>

            </div>


        </div>



