@{ Layout = "adminDetailLayout"; }
@model IEnumerable<DKGamers.Identity.Kullanici>


<div class="container">
    <div class="row">
        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">
                        Kullanıcı ID
                    </th>
                    <th class="th-sm">
                        Kullanıcı Adı
                    </th>
                    <th class="th-sm">
                        E-mail Adresi
                    </th>
                    <th class="th-sm">
                         Sil
                    </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td><form action="/admin/kullanicisil/@item.Id" method="post" style="display:inline">
                        <input type="hidden" name="UserId" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm ">Sil</button>
                    </form>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>