@{
    ViewData["Title"] = "Home Page";
}



<div class="container-fluid">

    <div class="row justify-content-center">


        <div class="col-10" style="background-color:red; margin-bottom:1%;">
            One of three columns
        </div>

        <div class="col-10" style="background-color:green; margin-bottom:1%">
            One of three columns
        </div>

        <div class="col-10" style="background-color:blue;">
            One of three columns
        </div>



    </div>
 </div>



