<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4" style="background-color: #303030; padding: 10px; ">
            <h2 class="text-center" style="color:white;">@localizer["Hazırlayanlar"]</h2>
            <p class="text-center" style="color:white;">Kadir Çelik</p>
            <p class="text-center" style="color:white;">Duhan Uzun</p>
            <h2 class="text-center" style="color:white;">@localizer["İletişim Bilgileri"]</h2>
            <p class="text-center" style="color:white;">kadircelik249@gmail.com</p>
            <p class="text-center" style="color:white;">duhan181999@gmail.com</p>
        </div>
    </div>
</div>