@{
    ViewData["Title"] = "Home Page";
}



<div class="container-fluid">

    <div class="row justify-content-between">
        

        <div class="col-8" style="background-color:red;">
            One of three columns
        </div>

        <div class="col-3" style="background-color:black;">
            One of three columns
        </div>



    </div>
    <br />
    <div class="row justify-content-between">
        <div class="col-8" style="background-color:red;">
            One of three columns
        </div>



    </div>
    <br />
    <div class="row justify-content-between">
        <div class="col-8" style="background-color:red;">
            One of three columns
        </div>
    </div>
    <br />
    <div class="row justify-content-between">
        <div class="col-8" style="background-color:red;">
            One of three columns
        </div>
    </div>
    <br />
    <div class="row justify-content-between">
        <div class="col-8" style="background-color:red;">
            One of three columns
        </div>
    </div>
    <br />

    <div class="row justify-content-between">
        <div class="col-8" style="background-color:red;">
            One of three columns
        </div>
    </div>
    <br />

    <div class="row justify-content-between">
        <div class="col-8" style="background-color:red;">
            One of three columns
        </div>
    </div>
    <br />

    <div class="row justify-content-between">
        <div class="col-8" style="background-color:red;">
            One of three columns
        </div>
    </div>
    <br />
    <div class="row justify-content-between">
        <div class="col-8" style="background-color:red;">
            One of three columns
        </div>
    </div>
    <br />
    <div class="row justify-content-between">
        <div class="col-8" style="background-color:red;">
            One of three columns
        </div>
    </div>



</div>




